		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 704px) {
    
}

body {

	background-color: #c7eafe;
}

.horizontal-list {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: px;

}